<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dac38f">  <td>23/12/13 14:21:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get_test4.executor()[pri:0, instance:Test1_package.get_test4@5524cca1]">executor</td> 
  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="88a397">  <td>23/12/13 14:21:14</td>   <td>8616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_test2.executor()[pri:0, instance:Test1_package.patch_test2@14028087]">executor</td> 
  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="b966cc">  <td>23/12/13 14:21:20</td>   <td>14820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="put_test3.executor()[pri:0, instance:Test1_package.put_test3@1caa0244]">executor</td> 
  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="6a70b9">  <td>23/12/13 14:21:18</td>   <td>12485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_test1.executor()[pri:0, instance:Test1_package.Post_test1@cecf639]">executor</td> 
  <td>main@40191541</td>   <td></td> </tr>
</table>
